$color-black: rgb(66, 82, 110);
$color-white: rgb(255, 255, 255);
$color-gray-dark: rgb(160, 160, 160);
$color-gray-normal: rgb(234, 236, 240);
$color-gray-light: rgb(244, 245, 247);
$color-purple: rgb(56, 53, 82);
$color-green: rgb(40, 199, 112);
$color-blue-normal: rgb(3, 102, 214);

$font-size: 14px;
$font-color: $color-black;
$link-color: $color-blue-normal;

$border-radius: 3px;

$sidebar-nav-width: 220px;
$sidebar-nav-collapsed-width: 76px;

$animation-time: 0.1s;
