textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
    padding: 0 10px;
    font-size: 14px;
    line-height: 35px;
    background-color: $color-white;
    border: 1px solid $color-gray-normal;
    border-radius: $border-radius;
    min-width: 250px;
    transition: background-color $animation-time;

    &:focus {
        outline: 0;
        border-color: $link-color;
        background-color: white;
    }
}

input[type="search"] {
    padding-left: 32px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'><path fill='#8A8A8A' d='M11.53 10.47L8.308 7.247a4 4 0 1 0-1.06 1.06l3.222 3.224 1.06-1.06zM5 7.5C3.622 7.5 2.5 6.378 2.5 5S3.622 2.5 5 2.5 7.5 3.622 7.5 5 6.378 7.5 5 7.5z'/></svg>");
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 18px;
}

textarea {
    width: 100%;
    line-height: 21px;
}

.input-group {
    display: table;
    position: relative;
    border-collapse: separate;

    .input-group__addon,
    .input-group__item {
        display: table-cell;
    }

    .input-group__addon {
        padding: 0 10px;
        font-size: 14px;
        line-height: 35px;
        background-color: $color-gray-light;
        border: 1px solid $color-gray-normal;
        border-radius: $border-radius;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        border-right: none;
        border-radius: $border-radius 0 0 $border-radius;
    }

    .input-group__item {
        display: table-cell;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 0;
        border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}
