.table {
    width: 100%;
}

.table tr {
    border-bottom: 1px solid $color-gray-normal;
}

.table tr:nth-child(even) {
    background-color: lighten($color-gray-light, 2.5%);
}

.table th.sortable-header {
    cursor: pointer;
    transition: background-color $animation-time;

    i.fa {
        display: inline-block;
        margin-left: 5px;
        color: $color-gray-dark;
    }
}

.table th.sortable-header:hover {
    background-color: $color-gray-light;
}

.table th,
.table td {
    padding: 10px;
    white-space: nowrap;

    //&:first-child {
    //    padding-left: 0;
    //}
    //
    //&:last-child {
    //    padding-right: 0;
    //}

    &[align="right"] {
        text-align: right;
    }

    i.fa {
        display: inline-block;
        width: 25px;
    }

    .table__column-spacer {
        display: inline-block;
    }
}
